.page {

  background-color: #2a2c2f;
  max-width: 1280px;
  margin: 0 auto;

}

@media (max-width: 1025px) {
  .page {
    max-width: 1024px;
  }

}

@media (max-width: 769px) {
  .page {
    max-width: 768px;
  }

}

@media (max-width: 321px) {
  .page {
    max-width: 320px;
  }

}

.page__content {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .page__content {
    max-width: 1024px;

  }
}

.logo {
  max-width: 176px;

}

@media (max-width: 321px) {
  .logo {
    max-width: 142px;
    max-height: 42px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0 auto;
  max-width: 1184px;
}

@media (max-width: 1025px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 769px) {
  .header {
    max-width: 720px;
  }
}

@media (max-width: 321px) {
  .header {
    margin: 16px 16px 0 16px;
    max-width: 288px;
  }
}

.header__menu {
  display: flex;
  gap: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  list-style: none;
}

@media (max-width: 321px) {
  .header__menu {
  display: flex;
  gap: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  }
  
}

.header__menu-lang {
  list-style: none;
  color: #ffffff;
  text-decoration: none;
}

.header__menu-lang:hover {
  text-decoration-line: underline;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px auto 0 148px;
  max-width: 984px;
}

@media (max-width: 1025px) {
  .lead {
    margin: 56px 48px 0 48px;
    max-width: 928px;
  }
}

@media (max-width: 321px) {
  .lead {
    margin: 48px auto 0 auto;
    max-width: 320px;
  }
}

.lead__title {
  margin: 0 auto 0;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 321px) {
  .lead__title {
    margin: 0 auto 0;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    
  }
  
}

.lead__subtitle {
  margin-top: 32px;
  padding: 0 auto 0;
  text-align: center;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 321px) {
  .lead__subtitle {
  max-width: 288px;
  font-size: 16px;
  line-height: 20px;
  }
}


.lead__img {
  margin: 64px 0 0 0;
  max-width: 100%;
}

@media (max-width: 1025px) {
  .lead__img {
    margin: 56px auto 0 auto;
    padding: auto;
    max-width: 100%;
  }
}

@media (max-width: 769px) {
  .lead__img {
    margin: 59px 0 0 0;
    max-width: 100%;
  }
}

@media (max-width: 321px) {
  .lead__img {
    margin: 40px 0 0 0;
    width: 100%;
  }
}

.lead__text {
  margin: 8px 0 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;

}

@media (max-width: 1025px) {
  .lead__text {
    margin: 8px auto 0 48px;
  }
}

.intro {
  max-width: 690px;
  margin: 92px auto 0 148px;
}

@media (max-width: 769px) {
  .intro {
    margin: 88px auto 0 48px;
  }
}

@media (max-width: 321px) {
  .intro {
    max-width: 288px;
    margin: 64px 16px 0 16px;
  }  
}

.intro__title {
  margin: 0 auto 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  max-width: 690px;
}

@media (max-width: 769px) {
  .intro__title {
    max-width: 720px;
  }
}

@media (max-width: 321px) {
  .intro__title {
    margin: 64px auto 0;
    font-size: 32px;
    line-height: 35px;
    
  }
}



.intro__text {
  margin: 40px auto 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
}

@media (max-width: 321px) {
  .intro__text {
  font-size: 16px;
  line-height: 163%;
  }  
}

.intro__list {
  margin: 33px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

@media (max-with: 769px) {
  .intro__list {
    max-width: 720px;
  }

}

@media (max-with: 321px) {
  .intro__list {
    margin: 34px auto 0;
    max-width: 288px;
  }

}

.intro__list-fact {
  list-style: none;
}

.photo-grid {
  margin: 92px auto 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}

@media (max-width:1025px) {
  .photo-grid {
    max-width: 928px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 14px;
  }
}

@media(max-width: 769px) {
  .photo-grid {
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;

  }
}

@media(max-width: 321px) {
  .photo-grid {
    margin: 64px auto 0 auto;
    max-width: 288px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 12px;

  }
}

.photo-grid__item {
  width: 100%;
}

.places {
  margin: 92px auto 0 auto;
  max-width: 984px;
  
}

@media (max-width: 1025px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 321px) {
  .places {
    margin: 64px auto 0 auto;
    max-width: 100%;
  }
}

.place {
  margin: 80px auto 0 auto;
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-gap: 40px 40px;
  max-width: 984px;

}


@media (max-width: 1025px) {
  .place {
    grid-template-columns: minmax(320px, 440px) minmax(352px, 456px);
    gap: 32px;
    max-width: 928px;

  }
}

@media (max-with: 769px) {
  .place {
    margin: 73px auto 0 auto;
    grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
    gap: 48px 28px;
    max-width: 720px;
  }
}

@media (max-with: 321px) {
  .place {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 0;
  }
}

.place__title {
  margin: 0 auto 0 0;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
}

@media (max-width: 1025px) {
  .place__title {
    max-width: 440px;
  }
}

@media (max-width: 769px) {
  .place__title {
    max-width: 290px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 321px) {
  .place__title {
    
    font-size: 32px;
    line-height: 35px;
  }
}

.place__img {
  width: 100%;

}

.place__link {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media (max-width: 321px) {
  .place__link {
    max-width: 288px;
  }
}

.place__name-link {
  max-width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #aaaaaa;
}

@media (max-width: 769px) {
  .place__name-link {
    max-width: 352px;
  }
}

@media (max-width: 321px) {
  .place__name-link {
    margin: 32px auto 0 auto;
    max-width: 288px;
  }
}

.place__link-web {
  margin: 12px auto 0 0;
  max-width: 456px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
}

@media (max-width: 769px) {
  .place__link-web {
    max-width: 352px;
  }
}

@media (max-width: 321px) {
  .place__link-web {
    max-width: 288px;
  }
}

.place__link-web:hover {
  opacity: 0.8;
}

.place__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 26px;
}

@media (max-width: 769px) {
  .place__text {
    max-width: 352px;
    row-gap: 25px;
  }
}

@media (max-width: 321px) {
  .place__text {
    max-width: 288px;
  }
}

.place__paragraph {
  margin: 0 auto 0;
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}

@media (max-width: 1025px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media (max-width: 769px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}

@media (max-width: 321px) {
  .place__paragraph {
    max-width: 288px;
    font-size: 16px;
  }
}



.cover {

}

.cover__overlay {
  margin: 92px auto 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url(./images/__dmitrii-vaccinium-22833-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 740px;
  max-width: 1184px;

}

@media (max-width: 1025px) {
  .cover__overlay {
    margin: 92px auto 0 auto;
    max-height: 640px;
    max-width: 1024px;

  }
}

@media (max-width: 769px) {
  .cover__overlay {
    margin: 90px auto 0 auto;
    min-height: 480px;
    max-width: 768px;
  }
}

@media (max-width: 321px) {
  .cover__overlay {
    margin: 66px auto 0 auto;
    min-height: 200px;
    height: 200px;
  }
}



.cover__overlay:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2a2c2f;
  opacity: 0.8;
}

.cover__link {
  text-decoration: none;
}

.cover__title {
  position: relative;
  margin: 245px auto 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  
}

@media (max-width: 321px) {
  .cover__title {
  margin: 33px auto 0;
  font-size: 32px;
  line-height: 35px;
  }
  
}

.cover__subtitle {
  position: relative;
  z-index: 5;
  max-width: 360px;
  margin: 32px auto 245px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 321px) {
  .cover__subtitle {
  margin: 16px auto;
  font-size: 14px;
  line-height: 16px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1184px;
}

@media (max-width:321px) {
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
  }
  
}


@media (max-width: 1025px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 769px) {
  .footer {
    max-width: 720px;
  }

}

@media (max-width: 321px) {
  .footer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

}

.footer__links {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

@media (max-width: 321px) {
  .footer__links {
   display: flex;
   flex-direction: column;
      
  }
  
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link-web {
  text-decoration: none;
  color: #ffffff;

}

.footer__copyright {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media (max-width: 321px) {
  .footer__copyright{
    line-height: 14px;
   
  }

}