.places__link {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
  }
  
  @media (max-width: 321px) {
    .places__link {
      max-width: 288px;
    }
  }
  