.places__name-link {
    max-width: 456px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #aaaaaa;
  }
  
  @media (max-width: 769px) {
    .places__name-link {
      max-width: 352px;
    }
  }
  
  @media (max-width: 321px) {
    .places__name-link {
      margin: 32px auto 0 16px;
      max-width: 288px;
      font-size: 12px;
      line-height: 12px;
    }
  }