.header {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 48px;
    padding-right: 48px;
  }
  
  @media (max-width: 769px) {
    .header {
      padding-left: 24px;
      padding-right: 24px;      
    }
  }
    
  @media (max-width: 321px) {
    .header {
      margin-top: 16px;
    }
  }