.intro {
    max-width: 690px;
    margin: 92px auto 0 148px;
  }
  
  @media (max-width: 769px) {
    .intro {
      margin: 88px auto 0 48px;
    }
  }
  
  @media (max-width: 321px) {
    .intro {
      max-width: 288px;
      margin: 64px 16px 0 16px;
    }  
  }