.cover {
  position: relative;
  min-height: 740px;
  z-index: 1;
}

@media (max-width:1025px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width:769px) {
  .cover {
    margin-top: 90px;
  }
}

@media (max-width:321px) {
  .cover {
    margin-top: 66px;
  }
}