.lead__img {
    padding-top: 64px;
    max-width: 984px;
   
  }
  
  @media (max-width: 1025px) {
    .lead__img {
    padding-top: 56px;
    width: 100%;
    
    }
  }
  
  @media (max-width: 769px) {
    .lead__img {
      margin-top: 59px;
      padding-left: 0;
    padding-right: 0;
    }
  }
  
  @media (max-width: 321px) {
    .lead__img {
      margin-top: 40px;
    }
  }