.places__place {
    margin-top: 80px;
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    grid-gap: 40px 40px;
    width: 100%;
    box-sizing: border-box;
  }
  
  @media (max-width: 1025px) {
    .place {
      grid-template-columns: minmax(320px, 440px) minmax(352px, 456px);
      gap: 32px;
      
    }
  }
  
  @media (max-width: 769px) {
    .place {
      margin-top: 73px;
      padding-left: 24px;
      grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
      gap: 48px 28px;
      
    }
  }
  
  @media (max-width: 321px) {
    .place {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      row-gap: 0;
    }
  }