.cover__overlay {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(../../../images/__dmitrii-vaccinium-22833-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 740px;
    width: 100%;

  }
  
  @media (max-width: 1025px) {
    .cover__overlay {
      max-height: 640px;
      
    }
  }
  
  @media (max-width: 769px) {
    .cover__overlay {
      min-height: 480px;
      
    }
  }
  
  @media (max-width: 321px) {
    .cover__overlay {
      min-height: 200px;
      height: 200px;
    }
  }
  
  .cover__overlay:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2a2c2f;
    opacity: 0.8;
  }
  