.cover__overlay {
  position: absolute;
  background: url(../../../images/__dmitrii-vaccinium-22833-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 740px;
  z-index: 2;
  

}

@media (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;

  }
}

@media (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}




.cover__overlay::after {
  content: "";
  position: absolute;
  background: #2a2c2f;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  

.cover__overlay:hover::before {
  content: "";
  position: absolute;
  background: #2a2c2f;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease .5s;



}