.places__url-heading {
margin: 0;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #aaaaaa;
font-weight: 400;
letter-spacing: 2px;
}


@media (max-width: 1279px) {
  .places__url-heading {


    line-height: 12px;
  }
}


@media (max-width: 767px) {
  .places__url-heading {
    padding-left: 16px;
    padding-top: 32px;

  }
}